<ion-content *ngIf="!isLoadingUser">
  <h1 >Olá, {{user.name}}!</h1>

  <button (click)="goTo('/tabs/cart')">
    <ion-icon slot="start" name="cart" color="primary"></ion-icon>
    Compras
  </button>
  <button>
    <ion-icon slot="start" name="bicycle" color="primary"></ion-icon>
      Serviços
  </button>
  <button (click)="goTo('/fav')">
    <ion-icon slot="start" name="heart" color="primary"></ion-icon>
    Favoritos
  </button>
  <button>
    <ion-icon slot="start" name="mail" color="primary"></ion-icon>
    Mensagens
  </button>
  <button>
    <ion-icon slot="start" name="notifications" color="primary"></ion-icon>
    Notificações
  </button>

  <h2>Os Meus Dados</h2>
  <ion-item button detail="true" (click)="clickDadosPessoais()">
      <p>Dados Pessoais</p>
  </ion-item>
  <ion-item button detail="true" (click)="goTo('/morada')">
      <p>Gestão de Moradas</p>
  </ion-item>

  <p class="logOut" (click)="logOut()">TERMINAR SESSÃO</p>
</ion-content>