<ion-content>
  <div class="header">
      <ion-button shape="round" fill="clear" color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <img src="assets/login.png" alt=""/>
  </div>

  <div class="login">
    <ion-card>
      <h1>Inicie Sessão</h1>

      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input type="password" placeholder="*******"></ion-input>
      </ion-item>
      
      <ion-button expand="block" color="medium"> 
        Iniciar Sessão 
      </ion-button>
  
      <a>Esqueceste-te da palavra-chave?</a>

    </ion-card>
  </div>
</ion-content>
