<ion-content>
  <div class="header">
      <ion-button (click)="goBack()" shape="round" fill="clear" color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <img src="assets/login.png" alt=""/>
  </div>

  <div class="login">
    <ion-card>
      <h1>Inicie Sessão</h1>

      <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
        <div class="email">
          <ion-item>
            <ion-icon name="mail" [color]="(loginForm.controls['email'].touched) ? (loginForm.controls['email'].valid ? 'success' : 'danger'): ''"></ion-icon>
            <ion-input label="Email" label-placement="floating" fill="solid" type="email" formControlName="email" required></ion-input>
          </ion-item>
          
          <ion-text class="ion-padding" color="danger" *ngIf="isLogedIn && loginForm.controls['email'].errors?.['required']">
            Email é de preenchimento obrigatório
          </ion-text>
          <ion-text class="ion-padding" color="danger" *ngIf="isLogedIn && loginForm.controls['email'].errors?.['email']">
            Email inválido
          </ion-text>
        </div>
        
        
        <div class="password">
          <ion-item>
            <ion-icon name="lock-closed" [color]="(loginForm.controls['password'].touched) ? (loginForm.controls['password'].valid ? 'success' : 'danger'): ''"></ion-icon>
            <ion-input label="Password" label-placement="floating" fill="solid" type="password" formControlName="password" required></ion-input>
          </ion-item>

          <ion-text class="ion-padding" color="danger" *ngIf="isLogedIn && loginForm.controls['password'].errors?.['required']">
            Password é de preenchimento obrigatório
          </ion-text>
          <ion-text class="ion-padding" color="danger" *ngIf="isLogedIn && loginForm.controls['password'].errors?.['minlength']">
            Password deverá ter pelo menos 2 caracteres
          </ion-text>
        </div>
        
        <ion-text *ngIf="errorMessage" color="danger">{{ errorMessage }}</ion-text>
        <ion-button expand="block" color="medium" type="submit">Iniciar Sessão</ion-button>
      </form>
  
      <div class="help">
        <p>Esqueceste-te da palavra-chave? <span (click)="recuperarSenha()"><strong>Recuperar Senha</strong></span></p>

        <p>Ainda nao tens conta? <span (click)="goRegister()"><strong>Criar Conta</strong></span></p>
      </div>
      
    </ion-card>
  </div>
</ion-content>
