<ion-content>
  <div class="header">
      <ion-button shape="round" fill="clear" color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <img src="assets/register.png" alt=""/>
  </div>

  <div class="register">
    <ion-card>
      <h1>Inscreva-se</h1>

      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-input type="text" placeholder="Nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input type="password" placeholder="*******"></ion-input>
      </ion-item>
      
      <ion-button expand="block" color="medium"> 
        Criar Conta
      </ion-button>
  
      <a>Ja tem conta? Inicie Sessão</a>

    </ion-card>
  </div>
</ion-content>
