<ion-content>
  <div class="header">
      <ion-button (click)="goBack()" shape="round" fill="clear" color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <img src="assets/register.png" alt=""/>
  </div>

  <div class="register">
    <ion-card>
      <h1>Inscreva-se</h1>

      <form [formGroup]="registerForm" (ngSubmit)="registe()" novalidate>
        <div class="name">
          <ion-item>
            <ion-icon name="person" [color]="(registerForm.controls['name'].touched) ? (registerForm.controls['name'].valid ? 'success' : 'danger'): ''"></ion-icon>
            <ion-input label="Nome" label-placement="floating" fill="solid" type="text" formControlName="name" required></ion-input>
          </ion-item>
          
          <ion-text class="ion-padding" color="danger" *ngIf="isRegisted && registerForm.controls['name'].errors?.['required']">
            Nome é de preenchimento obrigatório
          </ion-text>
          <ion-text class="ion-padding" color="danger" *ngIf="isRegisted && registerForm.controls['name'].errors?.['pattern']">
            Nome deverá ter pelo menos nome e sobrenome.
          </ion-text>
        </div>


        <div class="email">
          <ion-item>
            <ion-icon name="mail" [color]="(registerForm.controls['email'].touched) ? (registerForm.controls['email'].valid ? 'success' : 'danger'): ''"></ion-icon>
            <ion-input label="Email" label-placement="floating" fill="solid" type="email" formControlName="email" required></ion-input>
          </ion-item>
          
          <ion-text class="ion-padding" color="danger" *ngIf="isRegisted && registerForm.controls['email'].errors?.['required']">
            Email é de preenchimento obrigatório
          </ion-text>
          <ion-text class="ion-padding" color="danger" *ngIf="isRegisted && registerForm.controls['email'].errors?.['email']">
            Email inválido
          </ion-text>
        </div>
        

        <div class="password">
          <ion-item>
            <ion-icon name="lock-closed" [color]="(registerForm.controls['password'].touched) ? (registerForm.controls['password'].valid ? 'success' : 'danger'): ''"></ion-icon>
            <ion-input label="Password" label-placement="floating" fill="solid" type="password" formControlName="password" required></ion-input>
          </ion-item>

          <ion-text class="ion-padding" color="danger" *ngIf="isRegisted && registerForm.controls['password'].errors?.['required']">
            Password é de preenchimento obrigatório
          </ion-text>
          <ion-text class="ion-padding" color="danger" *ngIf="isRegisted && registerForm.controls['password'].errors?.['minlength']">
            Password deverá ter pelo menos 2 caracteres
          </ion-text>
        </div>


        <ion-button expand="block" color="medium" type="submit">Criar Conta</ion-button>
      </form>
  
      <p>Ja tem conta? <span (click)="goLogin()"><strong>Iniciar Sessão</strong></span></p>

    </ion-card>
  </div>
</ion-content>
