<ion-content>
  <div class="header">
    <h1>Produtos</h1>

    <!--- SEARCHBAR --->
    <ion-searchbar class="custom" placeholder="Pesquisar" [(ngModel)]="searchTerm" (ionChange)="search()" ></ion-searchbar>
  </div>
  
  <div class="list">
    <ion-list>
      <ion-card *ngFor="let product of filteredProducts || products">
        <ion-grid>
          <ion-row>
            <ion-col>
              <img [src]="product.image" alt="Product Image" style="height: 170px; height: 120px;">        
            </ion-col>

            <ion-col>
              <ion-card-content>
                <p><strong>Marca:</strong></p>
                <p>{{ product.Marca }}</p>
                <p><strong>Modelo:</strong></p>
                <p>{{ product.Modelo }}</p>
              </ion-card-content>
            </ion-col>            
          </ion-row>

          <ion-row class="center">
            <ion-col>
              <p>{{ product.Descricao }}</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button fill="clear" (click)="clickFav(product)" [disabled]="product.fav">
                <ion-icon slot="icon-only" name="heart" color="tertiary"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="clickCart(product)" [disabled]="product.cart">
                <ion-icon slot="icon-only" name="bag-add" color="tertiary"></ion-icon>
              </ion-button>
            </ion-col>
            
            <ion-col>
              <p class="price">Preço: <strong>{{ product.Preco | currency:'EUR':'symbol-narrow':'1.2-2' }}</strong></p>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card>
    </ion-list>
  </div>
  
</ion-content>